<ion-view view-title="FeedBack">
      <ion-nav-bar class="headercolor">
        <ion-nav-back-button>
        </ion-nav-back-button>
    <ion-content style="background-color: rgb(62, 83, 100)" >

        <h5 style="color:darkorange">
            Contact Us : 71258379
        </h5>
        <div class="list">

            <label class="item item-input" >
                <textarea rows="5" placeholder="Bug Report"></textarea>
            </label>



            <label class="item item-input" >
                <textarea rows="5" placeholder="Improve App"></textarea>
            </label>


        </div>

            <button class="button button-block button-positive" type="submit"> Submit</button>

    </ion-content>
</ion-view>
